.booking {
  padding: 33px 20px 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 287px;

  @media (min-width: $tablet-width) {
    padding: 56px 155px;
    padding-left: 140px;
    min-height: 318px;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 371px 66px;
    min-height: 331px;
  }
}

.booking__intro {
  @include font-size(21px, 26px);
  font-weight: 700;
  color: $black;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.booking__description {
  @include font-size(14px, 24px);
  margin: 0;
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}

.booking__button {
  padding-top: 15px;
  padding-bottom: 16px;
  width: 280px;
  font-family: "PT Sans", "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}

.booking__button:hover {
  background-color: $basic-hover;
}

.booking__button:active {
  background-color: $basic-active;
  color: rgba($white, 0.3);
}
