.br {
  display: none;
}

.br--mobile {
  display: inline;
}

@media (min-width: $tablet-width) {
  .br--mobile {
    display: none;
  }

  .br--tablet {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .br--tablet {
    display: none;
  }

  .br--desktop {
    display: inline;
  }
}
