.button {
  @include font-size(21px, 26px);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  background-color: $basic-color;
  cursor: pointer;
  border: none;
  display: block;
}

.button:hover {
  background-color: $basic-hover;
}

.button:active {
  background-color: $basic-active;
  color: rgba($white, 0.3);
}
