.features {
  @include list-reset();
  color: $text-color;
  background-color: $white;


  @media (max-width: $mobile-width-only) {
    text-align: left;
    padding: 22px 18px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    min-width: $tablet-width;
    max-width: $desktop-width;
  }
}

.features__item {
  padding: 13px 40px 13px 52px;


  @media (min-width: $tablet-width) {
    padding: 158px 25px 60px;
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      order: 3;
    }
  }
}

.features__item {
  background-repeat: no-repeat;
}

.features__item--housing {
  background-image: url("../../img/mobile/icon-house.svg");
  background-size: 39px 37px;
  background-position: 4px 4px;

  @media (min-width: $tablet-width) {
    background-size: 75px 72px;
    background-position: center 60px;
  }
}

.features__item--souvenirs {
  background-image: url("../../img/mobile/icon-gift.svg");
  background-size: 32px 38px;
  background-position: 7px 2px;

  @media (min-width: $tablet-width) {
    background-size: 64px 75px;
    background-position: center 57px;
  }
}

.features__item--food {
  background-image: url("../../img/mobile/icon-burger.svg");
  background-size: 40px 35px;
  background-position: 0 8px;

  @media (min-width: $tablet-width) {
    background-size: 76px 68px;
    background-position: center 63px;
  }
}

.features__title {
  @include font-size(18px, 26px);
  color: $black;
  font-weight: 700;
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.features__text {
  @include font-size(14px, 21px);
  margin: 0;
}
