.form {
  padding: 0 20px 57px;

  @media (min-width: $tablet-width) {
    padding: 30px 60px 61px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 120px;
    padding-bottom: 70px;
    padding-left: 121px;
  }
}

@media (min-width: $tablet-width) {
  .form::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #dbdbdb;
    grid-area: 1/1/2/2;
    top: 0;
    right: 0;
  }
}

.form__group {
  padding: 0;
  border: none;
  margin: 0;
  position: relative;

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.form__group:last-child {
  margin-bottom: 51px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
}

.form__group--big {
  @media (min-width: $tablet-width) {
    border-top: #dbdbdb solid 1px;
  }
}

.form__group--user {
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-left: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 79px;
  }
}

.form__group--contacts {
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    grid-area: 2/1/3/-1;
    margin-top: 22px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
    margin-bottom: 2px;
  }
}

.form__group--impression {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    grid-area: 1/1/2/2;
    padding-right: 54px;
  }
}

.form__group--sights {
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    grid-area: 3/1/4/-1;
    padding-right: 80px;
    padding-bottom: 14px;
    padding-left: 94px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
}

.form__group--emotions {
  padding-bottom: 51px;

  @media (min-width: $tablet-width) {
    grid-area: 4/1/5/-1;
    padding-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .form__group:not(:last-of-type)::before {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% + 40px);
    background-color: $light-grey;
    bottom: 0;
    left: -20px;
  }
}

.form__title {
  @include font-size(18px, 26px);
  font-weight: 700;
  color: $black;
  padding: 0;
  padding-top: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding: 0 47px;
  }
}

.form__title--user {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    margin-left: 0;
    padding: 0;
    text-align: left;
  }
}

.form__title--contacts {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding: 7px 58px 0;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.form__title--impression {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    margin-left: 0;
    padding: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: 78px;
    margin-bottom: 56px;
  }
}

.form__title--sights {
  padding-top: 15px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 6px 60px 0 40px;
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-left: 60px;
  }
}

.form__title--emotions {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding: 0 61px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .form__group-container {
    display: grid;
    grid-template-columns: 42% 1fr;
    column-gap: 79px;
    row-gap: 20px;
  }
}

.form__list {
  @include list-reset();
}

.form__list--sights {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 48% 43%;
    column-gap: 30px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__group--impression li:not(:last-of-type) {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

@media (min-width: $desktop-width) {
  .form__group--sights li {
    flex-grow: 1;
  }
}

.form__group--sights li:not(:last-of-type) {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__group--sights li:not(:nth-child(4n)) {
    margin-right: 32px;
  }
}

@media (min-width: $desktop-width) {
  .form__group--sights li:nth-child(3n) {
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form__group--sights li:nth-child(n + 5) {
    margin-top: 20px;
  }
}

.form__label {
  line-height: 26px;
  display: flex;
  align-items: center;
  position: relative;

  &--checkbox,
  &--radio {
    font-size: 18px;
    text-transform: none;
    font-weight: 700;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.form__label--user:not(:last-child) {
  margin-bottom: 20px;
}

.form__label--contacts {
  display: block;
  text-align: left;

  @media (min-width: $desktop-width) {
    display: flex;
  }

  &:not(:last-of-type) {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 25px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.form__label--radio {
  padding-left: 78px;
  min-height: 53px;

  @media (min-width: $tablet-width) {
    padding-left: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 76px;
  }
}

.form__label--checkbox {
  padding-left: 79px;
  min-height: 56px;

  @media (min-width: $tablet-width) {
    padding-left: 80px;
  }
}

.form__sign {
  display: block;
  margin-left: 22px;

  @media (min-width: $tablet-width) {
    margin-left: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-top: 10px;
  }

  &--phone {
    margin-bottom: 8px;
  }

  &--email {
    margin-bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .form__sign-item {
    display: none;
  }
}

.form__field {
  @include font-size(18px, 26px);
  padding: 18px 22px 14px;
  background-color: $fields-grey;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;

  &--user {
    margin-left: 15px;
    flex-grow: 1;
    width: 176px;
  }

  &--contacts {
    width: 100%;
    padding-right: 80px;

    @media (min-width: $desktop-width) {
      margin-left: 17px;
      max-width: 317px;
    }
  }

  &--phone {
    background: url("../../img/icon-phone.svg") no-repeat right 20px top 20px, linear-gradient(to left, $icons-grey 58px, $fields-grey 58px);
  }

  &--email {
    background: url("../../img/icon-email.svg") no-repeat right 21px top 23px, linear-gradient(to left, $icons-grey 58px, $fields-grey 58px);
  }
}

.form__field:hover {
  background-color: $light-grey;
}

.form__field:active,
.form__field:focus {
  background-color: $white;
  box-shadow: inset 0 0 0 4px $light-grey;
}

.form__field--phone:active,
.form__field--phone:focus {
  background: url("../../img/icon-phone.svg") no-repeat right 20px top 20px, linear-gradient(to left, $icons-grey 58px, $white 58px);
}

.form__field--email:active,
.form__field--email:focus {
  background: url("../../img/icon-email.svg") no-repeat right 21px top 23px, linear-gradient(to left, $icons-grey 58px, $white 58px);
}

.form__field::placeholder {
  @include font-size(18px, 26px);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  color: $black;
}

.form__mark {
  top: 0;
  left: 0;
  position: absolute;
  background-color: $fields-grey;
}

.form__mark--radio {
  width: 53px;
  height: 53px;
  border-radius: 50%;
}

.form__mark--checkbox {
  width: 56px;
  height: 56px;
  border-radius: 4px;

  @media (min-width: $desktop-width) {
    border-radius: 0;
  }
}

.form__input[type="radio"]:hover + .form__mark,
.form__input[type="checkbox"]:hover + .form__mark {
  background-color: $light-grey;
}

.form__input[type="radio"]:active + .form__mark,
.form__input[type="checkbox"]:active + .form__mark {
  background-color: $dark-grey;
}

.form__input[type="radio"]:checked + .form__mark::before {
  content: "";
  position: absolute;
  background-color: $text-color;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__input[type="checkbox"]:checked + .form__mark::before,
.form__input[type="checkbox"]:checked + .form__mark::after {
  position: absolute;
  background-color: $text-color;
  content: "";
  transform: rotate(45deg);
  right: 52%;
  bottom: 20px;
  transform-origin: right bottom;
}

.form__input[type="checkbox"]:checked + .form__mark::before {
  width: 13px;
  height: 3px;
}

.form__input[type="checkbox"]:checked + .form__mark::after {
  width: 3px;
  height: 21px;
}

.form__input[type="radio"]:checked:active + .form__mark::before {
  opacity: 30%;
}

.form__input[type="checkbox"]:checked:active + .form__mark::before {
  background: linear-gradient(to left, rgba($text-color, 0.16) 3px, rgba($text-color, 0.3) 3px);
}

.form__input[type="checkbox"]:checked:active + .form__mark::after {
  background: linear-gradient(to top, rgba($text-color, 0.16) 3px, rgba($text-color, 0.3) 3px);
}

.form__field--textarea {
  resize: none;
  min-height: 160px;
  width: 100%;
  padding: 13px 23px 29px 21px;

  @media (min-width: $tablet-width) {
    padding: 18px 21px 24px;
  }
}

.form__submit {
  width: 100%;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 14px;
}

.form__note {
  @include font-size(14px, 26px);
  margin-left: 30px;
  text-align: end;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
