.gallery {
  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.gallery__list {
  @include list-reset();

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  padding: 22px 20px 13px;
  border-bottom: $light-grey solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.gallery__item--big {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.gallery__figure {
  margin: 0;
  text-align: left;
  width: 100%;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.gallery__photo {
  object-fit: cover;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.gallery__caption {
  margin-top: 11px;

  @media (min-width: $tablet-width) {
    display: flex;
    background-color: $fields-grey;
    margin: 0;
    padding: 16px 20px 15px;

    &:not(.gallery__caption--big-picture) {
      padding-right: 29px;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: rgba($black, 0.3);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: $white;
  }
}

.gallery__container {
  margin-right: 10px;
}

.gallery__item:nth-child(3) .gallery__caption {
  @media (min-width: $tablet-width) {
    background-color: #eaeaea;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba($black, 0.3);
  }
}

.gallery__title {
  @include font-size(14px, 24px);
  color: $black;
  margin: 0;
  margin-bottom: 2px;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.gallery__author {
  @include font-size(14px, 24px);
  text-transform: none;
  margin: 0;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.gallery__wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.gallery__icon-like {
  margin-right: 13px;
  fill: rgba($black, 0.3);
  min-width: 23px;
  margin-bottom: 5px;

  @media (min-width: $desktop-width) {
    fill: $white;
    margin-right: 10px;
  }
}

.gallery__likes-count {
  @include font-size(14px, 24px);
  font-weight: 700;
  color: $black;
  margin: 0;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}
