.header__banner {
  @include size(100%, 389px);
  width: 100%;
  background-color: $dark-grey;
  display: flex;
  justify-content: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-image: url("../../img/mobile/banner-mobile.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/mobile/banner-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    @include size(100%, 518px);
    background-image: url("../../img/tablet/banner-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/tablet/banner-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/desktop/banner-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop/banner-desktop@2x.jpg");
    }
  }
}

.header__banner--inner {
  @include size(100%, 158px);
  background-position: center bottom;

  @media (min-width: $tablet-width) {
    @include size(100%, 290px);
  }

  @media (min-width: $desktop-width) {
    @include size(100%, 301px);
  }
}

.header__banner::before {
  @include size(100%, 57px);
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-image: url("../../img/banner-mask.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow: hidden;
}

.header__banner--inner::after {
  @include size(229px, 39px);
  content: "";
  margin: 52px auto auto;
  color: $white;
  background-image: url("../../img/sedona.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;

  @media (min-width: $tablet-width) {
    @include size(457px, 78px);
    margin-top: 95px;
  }

  @media (min-width: $desktop-width) {
    @include size(460px, 80px);
    margin-top: 101px;
  }
}

.header__greeting {
  @include size(282px, 214px);
  margin-top: 90px;
  color: $white;

  @media (min-width: $tablet-width) {
    @include size(460px, 350px);
    margin-top: 78px;
  }
}

.header__wrapper {
  width: 100%;

  @media (max-width: $mobile-width-only) {
    border-bottom: $light-grey solid 1px;
  }
}

.header__wrapper--index {
  padding: 32px 28px 11px;
  border-bottom: none;

  @media (min-width: $tablet-width) {
    padding: 44px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px;
    padding-top: 55px;
  }
}

.header__wrapper--form {
  padding: 36px 6px 17px 8px;

  @media (min-width: $tablet-width) {
    padding: 64px 150px 54px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 113px 370px 27px;
  }
}

.header__wrapper--catalog {
  padding: 24px 20px 13px;

  @media (min-width: $tablet-width) {
    padding: 59px 155px;
  }

  @media (min-width: $desktop-width) {
    padding: 102px 370px 67px;
  }
}

.header__title {
  @include font-size(18px, 26px);
  font-weight: 700;
  color: $black;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

@media (min-width: $tablet-width) {
  .header__wrapper--form .header__title {
    @include font-size(30px, 26px);
    font-weight: 700;
    margin-bottom: 34px;
  }
}

.header__intro {
  @include font-size(18px, 26px);
  font-weight: 700;
  color: $black;
  margin: 0;
}

.header__intro--video {
  margin-bottom: 30px;
}

.header__slogan {
  @include font-size(18px, 26px);
  font-weight: 700;
  color: $black;
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.header__description {
  @include font-size(14px, 26px);
  margin: 0;
}

.header__text {
  @include font-size(14px, 24px);
  margin: 0;
}
