.header__banner {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  &--index {
    @include size(100%, 389px);
    // @include size(320px, 389px);
    background-image: url("../../img/mobile/banner-index.jpg");
    background-position: center;
  }

  &--inner {
    @include size(100%, 158px);
    // @include size(320px, 158px);
    background-image: url("../../img/mobile/banner-form.jpg");
    background-position: 0 -56px;
  }

  @media (min-width: $tablet-width) {
    @include size(100%, 518px);
    // @include size(768px, 518px);
  }
}

.header__wrapper {
  width: 100%;

  @media (max-width: $mobile-width-only) {
    border-bottom: $light-grey solid 1px;
  }
}

.header__wrapper--index {
  padding: 32px 28px 11px;
  border-bottom: none;

  @media (min-width: $tablet-width) {
    padding: 44px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px;
    padding-top: 55px;
  }
}

.header__wrapper--form {
  padding: 36px 6px 17px 8px;

  @media (min-width: $tablet-width) {
    padding: 64px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 114px;
  }
}

.header__wrapper--catalog {
  padding: 24px 9px 13px 12px;

  @media (min-width: $tablet-width) {
    padding: 59px 155px;
  }

  @media (min-width: $desktop-width) {
    padding: 102px 370px 67px;
  }
}


.header__title {
  @include font-size(18px, 26px);
  font-weight: 700;
  color: $black;
}

.header__intro {
  @include font-size(18px, 26px);
  font-weight: 700;
  color: $black;
}

.header__slogan {
  @include font-size(18px, 26px);
  font-weight: 700;
  color: $black;
}

.header__description {
  @include font-size(14px, 26px);
}

.header__text {
  @include font-size(14px, 24px);
}
