.page {
  height: 100%;
}

.page__body {
  @include font-size(14px, 21px);
  font-family: "PT Sans", "Arial", sans-serif;
  color: $text-color;
  text-transform: uppercase;
  background-color: $fields-grey;
  margin: 0;
  text-align: center;
  width: 100%;
}

.page__wrapper {
  background-color: $white;
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    box-shadow: 0 0 15px 0 rgba($black, 0.2);
  }
}

.page__header {
  position: relative;
}

.page__main {
  flex-grow: 1;
}

.page__modal-container {
  display: none;
}

.page__modal-container--open {
  @include size(100%, 100%);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 1;
}

.page__modal {
  width: 320px;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 640px;
  }
}
