.page-footer {
  padding: 29px 20px 23px;
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 36px 60px 36px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 120px 36px 104px;
  }
}

.page-footer__wrapper {
  margin: 0 auto;
  max-width: 280px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  row-gap: 34px;

  @media (min-width: $tablet-width) {
    min-width: 680px;
    max-width: 976px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    gap: 20px;
    align-items: center;
  }
}

.page-footer__hashtag {
  @include font-size(21px, 26px);

  @media (min-width: $tablet-width) {
    justify-self: start;
  }
}

.page-footer__social {
  align-self: center;
}

.social__list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 6px;
}

.page-footer__copyright {
  align-self: end;

  @media (min-width: $tablet-width) {
    justify-self: end;
  }
}
