.page-header {
  color: $black;
  background-color: $white;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 56px;
  }
}

.page-header__logo {
  @include size(102px, 84px);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @media (max-width: $mobile-width-only) {
    top: auto;
    bottom: -28px;
  }

  @media (min-width: $desktop-width) {
    @include size(187px, 97px);
  }
}
