.visually-hidden {
  @include size(1px, 1px);
  position: absolute;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100vh;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (max-width: $mobile-width-only) {
  .br-tablet {
    display: none;
  }

  .br-desktop {
    display: none;
  }

  .br-mobile {
    display: inline;
  }
}

@media (min-width: $tablet-width) {
  .br-mobile {
    display: none;
  }

  .br-desktop {
    display: none;
  }

  .br-tablet {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .br-mobile {
    display: none;
  }

  .br-tablet {
    display: none;
  }

  .br-desktop {
    display: inline;
  }
}
