//colors

$basic-color: #81b3d2;
$basic-hover: #669ec0;
$basic-active: #5496bd;
$text-color: #333333;
$light-grey: #f2f2f2;
$fields-grey: #e5e5e5;
$icons-grey: #e6e6e6;
$dark-grey: #d5d5d5;
$player-controls: #5c6870;
$white: #ffffff;
$black: #000000;
$advantages-grey: #eeeeee;
$figcaption-background: #eaeaea;
